  body {
    display:flex;
    background-color: #8a2be2;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, transform 0.3 ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateZ(10px) scale(1.05);
  }

  h1 {
    font-size: 30px;
    margin-bottom: 50px;
    color: #8a2be2;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: inline-block;
    width: 120px;
    text-align: left;
    font-weight: bold;
    color: #8a2be2;
  } 

  .input-group input[type="number"] {
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #8a2be2;
    transition: box-shadow 0.3s ease, transform 0.3 ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .select-group {
    display: flex;
  }
  
  .select-group label {
    display: block;
    margin-bottom: 10px; /* Increase margin-bottom value */
    width: 80px; /* Increase width value */
    color: #8a2be2;
  }
  
  .select-group select {
    flex-grow: 1;
    padding: 8px; /* Increase padding value */
    border: 1px solid #8a2be2;
    border-radius: 5px; /* Increase border-radius value */
    color: #333333;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease, transform 0.3 ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  

  .input-group input[type="number"]:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateZ(10px) scale(1.05);
  }

  .input-group select:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateZ(10px) scale(1.05);
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .button-group button {
    padding: 10px 20px;
    margin-right: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #8a2be2;
    color: #ffffff;
    transition: box-shadow 0.3s ease, transform 0.3 ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .button-group button:hover {
    background-color: #6c1fba;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateZ(10px) scale(1.05);
  }
  
  .output-group {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  .output-group label {
    display: inline-block;
    width: 220px;
    text-align: left;
    font-weight: bold;
    color: #8a2be2;
  }
  
  .output-group input[type="text"] {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #8a2be2;
    transition: box-shadow 0.3s ease, transform 0.3 ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  }
  
  .output-group input[type="text"]:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateZ(10px) scale(1.05);
  }

  @media only screen and (max-width: 600px) {
      .container {
      max-width: 100%;
      margin: 20px;
      }
      h1 {
        font-size: 20px;
      }
    
      .input-group label {
        width: 80px;
      }
    
      .input-group input[type="number"] {
        width: 100px;
      }
    
      .select-group label {
        width: 50px;
      }
    
      .button-group button {
        padding: 6px 12px;
        font-size: 12px;
      }
    
      .output-group label {
        width: 160px;
      }
    
      .output-group input[type="text"] {
        width: 100px;
      }
  }


  